In [1]:
import sqlite3
import pandas as pd
from sqlite3 import connect


conn = sqlite3.connect("/content/chinook.db")
cursor = conn.cursor()
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(table)

ModuleNotFoundError: No module named 'pandas'

In [23]:

CREATE_SQL = """
    CREATE TABLE IF NOT EXISTS Item(
        id integer primary key autoincrement,
        code text not null,
        artist text not null,
        price integer not null
    );"""



cursor.execute(CREATE_SQL)


cursor.execute('SELECT * FROM sqlite_master WHERE type="table" AND name="Item";')
table_list = cursor.fetchall()
for i in table_list:
    for j in i:
        print(j)

table
Item
Item
865
CREATE TABLE Item(
        id integer primary key autoincrement,
        code text not null,
        artist text not null,
        price integer not null
    )

In [24]:
## Item 테이블 열어서 확인하기

table = pd.read_sql_query("SELECT * from Item", conn)
table.head()

Empty DataFrame
Columns: [id, code, artist, price]
Index: []

In [25]:

INSERT_SQL = 'INSERT INTO Item(code,artist,price) VALUES (?,?,?);'

data = (
    ('ABC111','마룬5', 35000),
    ('DFG222','아리아나그란데', 45000),
    ('HIJ333','NCT', 30000)
)


cursor.executemany(INSERT_SQL,data)

conn.commit()

cursor.execute('SELECT * FROM Item')
item_list = cursor.fetchall()
for i in item_list:
    print(i)

(1, 'ABC111', '마룬5', 35000)
(2, 'DFG222', '아리아나그란데', 45000)
(3, 'HIJ333', 'NCT', 30000)

In [26]:
cursor.execute('SELECT * FROM Item')
item_list = cursor.fetchall()
for i in item_list:
    print(i)

(1, 'ABC111', '마룬5', 35000)
(2, 'DFG222', '아리아나그란데', 45000)
(3, 'HIJ333', 'NCT', 30000)

In [27]:
# table 형태로 확인
item_df = pd.read_sql_query("SELECT * FROM Item", conn)
item_df

   id    code   artist  price
0   1  ABC111      마룬5  35000
1   2  DFG222  아리아나그란데  45000
2   3  HIJ333      NCT  30000

In [28]:
SELECT_SQL = 'SELECT * FROM customers LIMIT 10;'# customers table에서 10개만 뽑아내기 힌트'LIMIT 10'


cursor.execute(SELECT_SQL)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)

In [29]:
q = """
SELECT * FROM customers Where Country = "Austria"
"""
## Austria출신 customer 뽑기
pd.read_sql_query(q, conn)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5

In [30]:
q = """
SELECT * FROM employees LIMIT 5
"""

pd.read_sql_query(q, conn)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [31]:
##update

UPDATE_SQL = 'UPDATE employees set Title = "IT Manager" WHERE FirstName="Jane";'
cursor.execute(UPDATE_SQL)

conn.commit()
# employee 테이블에서 Jane의 직업을 'IT Manager'로 바꾸시오
cursor.execute('SELECT * FROM employees WHERE FirstName="Jane";')
employee = cursor.fetchall()
print(employee)

[(3, 'Peacock', 'Jane', 'IT Manager', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')]

In [32]:
# 삭제

DELETE_SQL = 'DELETE FROM Item WHERE artist="마룬5";'
cursor.execute(DELETE_SQL)

conn.commit()
# ITEM 테이블에서 마룬5가 들어간 row를 제거하시오
cursor.execute('SELECT * FROM Item;')
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'DFG222', '아리아나그란데', 45000)
(3, 'HIJ333', 'NCT', 30000)